h1 {
    font-family: sans-serif;
    color: red;
    text-align: center;
}

p {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: darkgray;
}

a {
    color: rgb(167, 1, 78);
}

a:hover{
    text-decoration: underline;
}

.one {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 52px;
}